* {
    background-color: #dcb494;
    font-family: Didot, serif;

}

/* Navbar Css */
ul {
    font-size: 1em;
    display: flex;
}

.vl {
    border-left: 1px solid black;
    height: 5%;
}

/* footer CSS */
.footerLine {
    border-top: 1px solid black;
    padding: 15 30 30 30 
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footStyle {
    display: flex; 
    justify-content: center;
    margin: 5px;
}

.footButton {
    border: none;
}

/* About me page CSS */
.name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 1em;
}

.line {
    border-bottom: 1px solid black;
    padding: 0 30 0 30 
}

.format {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Contact page CSS */
.form {
    margin-left: 2rem;
    margin: 2rem 5rem 0 2rem;
}

.contactButton {
    margin-left: 2em;
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

.fontContact {
    font-size: larger;
}

/* Portfolio CSS */
.cardStyle {
    text-align: center;
}


/* Resume CSS */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}